<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">
	<include
		resource="org/springframework/boot/logging/logback/base.xml" />
	<property resource="application.properties" />
	<springProperty scope="context" name="springAppName"
		source="spring.application.name" />
	<!-- Appender to log to file in a JSON format -->
	<appender name="RollingFile"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${springAppName}.log</file>
		<rollingPolicy
			class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${springAppName}.log.%d{yyyy-MM-dd}.gz
			</fileNamePattern>
			<maxFileSize>10MB</maxFileSize>
			<maxHistory>10</maxHistory>
			<totalSizeCap>100MB</totalSizeCap>
		</rollingPolicy>
		<encoder
			class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<!-- <Pattern>%5p [%X{traceId:-},%X{spanId:-}]</Pattern> -->
			<!-- <Pattern>traceId ,spanId %d %p %C{1} [%t] %m%n</Pattern> -->
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %5p [${springAppName},%X{traceId},
				%X{spanId}]---- %m%n</pattern>
		</encoder>
	</appender>
	
	<!-- Appender to log to file in a JSON format -->
	<appender name="Console"
		class="ch.qos.logback.core.ConsoleAppender">
		<encoder
			class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<!-- <Pattern>%5p [%X{traceId:-},%X{spanId:-}]</Pattern> -->
			<!-- <Pattern>traceId ,spanId %d %p %C{1} [%t] %m%n</Pattern> -->
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %5p [${springAppName},%X{traceId},
				%X{spanId}]---- %m%n</pattern>
		</encoder>
	</appender>
	<root level="INFO">
		<appender-ref ref="RollingFile" />
		<appender-ref ref="Console" />
	</root>
</configuration>